@font-face{
    font-family: 'myfont';
    src: url('./font2.ttf') format('truetype');
    font-weight: 600;    
    font-style: normal;
}

.hello{
    color: red;
    background: url('./assets/icon.png');
    font-family: 'myfont'
}

